<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_atm.mapper.CashMapper">
    <select id="findAllValue" resultType="int">
        select sum(value * amount) from cash;
    </select>

    <select id="checkOneThousandBill" resultType="int">
        select amount from cash where value = 1000;
    </select>

    <select id="checkFiveHundredBill" resultType="int">
        select amount from cash where value = 500;
    </select>

    <select id="checkOneHundredBill" resultType="int">
        select amount from cash where value = 100;
    </select>

    <select id="checkBillAmount" parameterType="int" resultType="int">
        select amount from cash where value = #{value};
    </select>

    <update id="getOneThousand" parameterType="int">
        update cash
        set amount = amount - #{amount}
        where value=1000 AND amount >= #{amount};
    </update>

    <update id="getFiveHundred" parameterType="int">
        update cash set amount = amount - #{amount}
        where value=500 AND amount >= #{amount};
    </update>

    <update id="getOneHundred" parameterType="int">
        update cash
        set amount = amount - #{amount}
        where value=100 AND amount >= #{amount};
    </update>

    <update id="getBill" parameterType="map">
        update cash set amount = amount - #{amount}
        where value = #{value} AND amount >= #{amount}
    </update>
</mapper>