<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_atm.mapper.CashMapper">
    <select id="findAllValue" resultType="int">
        select sum(value * amount) from cash;
    </select>

    <select id="checkOneThousandBill" resultType="int">
        select amount from cash where value = 1000;
    </select>

    <select id="checkFiveHundredBill" resultType="int">
        select amount from cash where value = 500;
    </select>

    <select id="checkOneHundredBill" resultType="int">
        select amount from cash where value = 100;
    </select>

    <select id="checkBillAmount" parameterType="int" resultType="int">
        select amount from cash where value = #{value};
    </select>
<!--
    <update id="getOneThousand">
        update cash set amount =
        <choose>
            <when test="amount < 1">
                0
            </when>
            <otherwise>
                amount = amount - 1
            </otherwise>
        </choose>
        where id=2;
    </update>

    <update id="getOneHundred">
        update cash set amount =
        <choose>
            <when test="amount < 1">
                0
            </when>
            <otherwise>
                amount = amount - 1
            </otherwise>
        </choose>
        where id=2;
    </update>

    <update id="getOneHundred">
        update cash set amount =
           <choose>
               <when test="amount < 1">
                    0
               </when>
               <otherwise>
                   amount = amount - 1
               </otherwise>
           </choose>
             where id=3;
    </update>
    -->
</mapper>